<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ title }} - Video Server</title>
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <p>
                <a href="/">Root directory</a>
            </p>
            <p>
                <a href="/foo">Test link</a>
            </p>
            <p>
                <a href="/exception">Raise exception</a>
            </p>
        </div>
    </body>
</html>
